/* /////////////////////////////////////////////////////

MODULES
// Use class names for all modules
// Use class names for all non-semantic children (divs, spans, etc).
// Child class names prefixed by module name (ex: news-item-title)
// Keep nesting to a minimum
// Put a comment description before each module

///////////////////////////////////////////////////// */


/* Calendar
--------------------------------------------- */

.calendar {
  width: 100%;
  margin: 20px 0 0 0;
}

.calendar-header {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  background: adjust-lightness($light-grey, 3%);
  width: 959px;
  border-top: 1px solid $light-grey;
  border-left: 1px solid $light-grey;
  border-right: 1px solid $light-grey;
}

.calendar-row--header {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background: adjust-lightness($light-grey, 5%);
  border-top: 1px solid $light-grey;
}

.calendar-row {
  overflow: hidden;

  li {
    cursor: pointer;
    overflow: hidden;
    width: 137px;
    height: 98px;
    float: left;
    border-left: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    @include transition(background .2s ease-out);

    &.calendar-row--header {
      height: auto;
    }

    &.calendar-row--day:hover {
      background: $highlight-color;
    }

    &:nth-of-type(7n),
    &:last-of-type {
      border-right: 1px solid $light-grey;
    }

    em {
      float: right;
      margin: 5px;
      font-size: 13px;
    }

    a {
      display: block;
      text-decoration: none;
      width: 100%;
      height: 100%;
    }
  }
}

.calendar-row--day_disabled,
.calendar-row--day.is-past {
  background: adjust-lightness($light-grey, 7%);

  em {
    opacity: .5;
  }
}

.calendar-row--day_current {
  background: $secondary-color;
}

/* Day
--------------------------------------------- */

.calendar-day {
  border: 1px solid $light-grey;
  margin: 25px 0;
  position: relative;

  button {
    position: absolute;
    top: 8px;
    left: 10px;
    padding: 0;

    a {
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px 20px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.calendar-day--hour {
  border-bottom: 1px solid $light-grey;
  padding: 10px;
  position: relative;

  &:last-of-type {
    border-bottom: none;
  }

  &:first-of-type {
    border-top: 1px solid $light-grey;
  }
}

.calendar-day--half {
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  border-bottom: 1px dashed adjust-lightness($light-grey, -8%);;
  top: 50%;
  left: 0;
  @include transform(translateY(-50%));
}

.calendar-day--title {
  text-align: center;
  padding: 15px 0;
  background: adjust-lightness($light-grey, 5%);
}

/* Time slot
--------------------------------------------- */

.calendar-time {
  position: absolute;
  width: 93%;
  background: #4EDFFF;
  min-height: 82px;
  top: 51px;
  right: 0;
  opacity: .5;
  padding: 10px;
  font-weight: bold;
  color: #000;
}

.calendar-time--handle {
  position: absolute;
  width: 30px;
  height: 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  left: 50%;
  bottom: 5px;
  cursor: ns-resize;
  @include transform(translateX(-50%));
}

.calendar-time--schedular {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 300px;
  background: #EBEBEB;
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #EBEBEB;
    position: absolute;
    left: -15px;
    top: 50%;
    @include transform(translateY(-50%));
  }

  h4 {
    margin: 0 0 10px 0;
  }
}

.calendar-time--schedular-controls {

  input[type='text'] {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }
}

.calendar-time--schedular-footer {
  margin-top: 20px;
  text-align: right;
  font-size: 13px;
}

/* Buttons
--------------------------------------------- */

button {
  border: none;
  background: none;
  padding: 10px 20px;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  @include transition(background .2s ease-out);

  &.button-standard {
    color: #fff;
    background: #31A1FF;

    &:hover {
      background: adjust-lightness(#31A1FF, -5%);
    }
  }
}


