/* /////////////////////////////////////////////////////

PROJECT NAME
creator@project.com @ Creator Company

///////////////////////////////////////////////////// */


/* Compass Imports
--------------------------------------------- */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";



/* Variables
--------------------------------------------- */

$base-color: #666666;
$highlight-color: #C5EFF9;
$secondary-color: #F3FCFE;
$light-grey: #E8E8E8;

$body-font: Helvetica, Arial, sans-serif;

$break-small: 480px;


/* Sprites
--------------------------------------------- */

// USE WITH RETINA SPRITES MIXIN
// $sprites: sprite-map("sprites/*.png", $spacing: 2px);
// $sprites2x: sprite-map("sprites_x2/*.png", $spacing: 4px);


/* Imports
--------------------------------------------- */

@import "libs/hidpi";
@import "libs/retina-sprites";
@import "base";
@import "grid";
@import "utils";
@import "modules";
@import "pages";



/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

.main-wrap {
  width: 960px;
  margin: 0 auto;
}

/* Header
--------------------------------------------- */

header {
  margin: 20px 0 0 0;

  em {
    font-size: 12px;
  }
}

[data-ember-action] {
  cursor: pointer;
}
