<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= current_page.data.title || "Middleman HTML5 Boilerplate"%></title>
        <meta name="description" content="<%= current_page.data.description || "Middleman HTML5 Boilerplate"%>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <%= stylesheet_link_tag "main" %>
        <%= javascript_include_tag "libs/modernizr-2.8.3" %>
    </head>
    <body>

      <script type="text/x-handlebars" id="application">
        <section class="main-wrap" role="main">
          <header>
            <h1>YourTime</h1>
            <em>Book some time for yourself</em>
          </header>
          {{outlet}}
        </section>
      </script>

      <%= yield %>

      <%= javascript_include_tag "libs/jquery" %>
      <%= javascript_include_tag "libs/handlebars" %>
      <%= javascript_include_tag "libs/ember" %>
      <%= javascript_include_tag "libs/ember-data" %>
      <%= javascript_include_tag "main" %>

    </body>
</html>
