---
title: YourTime, book some time for yourself
description: Book some time for yourself
---
 
<script type="text/x-handlebars" data-template-name="index">
  <div class="calendar">
    <header class="calendar-header">
      {{model.name}}
    </header>
    <ul class="calendar-row">
      {{#each model.dayNames}}
        <li class="calendar-row--header">
          {{this}}
        </li>
      {{/each}}
    </ul>

    <ul class="calendar-row">
      {{#each model.days}}
        <li {{bind-attr class=":calendar-row--day isPast:calendar-row--day_disabled isCur:calendar-row--day_current"}}>
          {{#link-to "month.day" this.id}}
            <em>{{this.number}}</em>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</script>


<script type="text/x-handlebars" id="month/day">
  <div class="calendar-day">
    <button class="button button-standard">{{#link-to "index"}}&lsaquo; Back{{/link-to}}</button>
    <h2 class="calendar-day--title">{{this.month.name}} {{this.number}}, {{this.month.year}}</h2>

    {{view "hours"}}
    {{view "event" isVisibleBinding="hasScheduledEvent"}}
    {{view "schedular" isVisibleBinding="isScheduling"}}
  </div>
</script>

<script type="text/x-handlebars" id="hours">
  <ul>
    {{#each time}}
      <li class="calendar-day--hour">
        {{this}}
        <span class="calendar-day--half"></span>
      </li>
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" id="schedular">
  <div class="calendar-time--schedular">
    <h4>{{eventTime}}</h4>
    <div class="calendar-time--schedular-controls">
      {{input type="text" value=eventTitle placeholder="Enter event title"}}
    </div>

    <footer class="calendar-time--schedular-footer">
      <a href="#" class="button button-text" {{action "cancel"}}>Cancel</a>
      <a href="#" class="button button-standard button-positive" {{action "save"}}>Save</a>
    </footer>
  </div>
</script>

<script type="text/x-handlebars" id="event">
  <div class="calendar-time">
    <div class="calendar-time--content">
      <h4>{{eventTitle}} @{{eventTime}}</h4>
    </div>
  </div>
</script>
